<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="Entrytitle"><%=  entry.title %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <%= link_to "comment", new_entry_comment_path(entry) %>
  <div>
    <% entry.comments.each do |comment| %>
      <div>
         <%= comment.content %>
      <div>
    <% end %>
  </div>
  <span>
    <section >
        <%= render 'shared/comment_form', entry: entry %>
    </section>
  </span>
</li>
